@use '../../sass/mixins/grid-tmpl-mixin.scss' as PLP-grid;

.product-cards-grid {
    display: flex;
    flex-wrap: wrap;

    @include PLP-grid.parent(var(--PLP-grid-gap-size));

    &__item {
        @include PLP-grid.child(
            var(--PLP-grid-gap-size), 
            var(--PLP-grid-gaps-quantaty-in-row), 
            var(--PLP-grid-items-quantaty-in-row));
        
            // temp, delete
            width: 386px;
            height: 444px;
            // outline: 2px solid limegreen;
    }
}