.bag-item {
    --size-picker-btn-size: 24px;
    --color-picker-btn-size: 20px;

    display: flex;
    
    &:not(:last-child) {
        margin-bottom: 40px;
    }
    
    &__wrapper-inner {
        margin-right: 4px;
        line-height: 1.6;
        min-width: 136px;
    }
    &__title {
        font-weight: var(--fw-300);
        margin-bottom: 4px;
    }
    &__price {
        margin-bottom: 8px;
        font-weight: var(--fw-500);
    }
    & .add-remove-item-bar {
        margin-right: 8px;
    }
    & .product-image__wrapper {
        width: 100%;
        margin: 0;
    }

    // ====================== other components styles ===================//
    & .size-picker {
        &__title {
            font-weight: var(--fw-400);
            font-size: var(--fs-300);
            line-height: 1;
        
            text-transform: initial;
        }
        & .button-radio {
            min-width: var(--size-picker-btn-size);
            min-height: var(--size-picker-btn-size);
        }
        & .button-radio__text {
            min-width: var(--size-picker-btn-size);
            height: var(--size-picker-btn-size);

            font-size: var(--fs-300);
        }
    }
    & .color-picker {
        margin-top: 8px;
        margin-bottom: 0;

        font-weight: var(--fw-400);
        font-size: var(--fs-300);
        line-height: 1;

        &__title {
            font-weight: var(--fw-400);
            font-size: var(--fs-300);
            line-height: 1;

            text-transform: initial;
        }
        & .button-radio {
            width: var(--color-picker-btn-size);
            height: var(--color-picker-btn-size);
        
            &__text {
                width: var(--color-picker-btn-size);
                height: var(--color-picker-btn-size);
            }
        }
    }
    //==================== end of other components styles ===================//
}