:root {
    /* ============== font family =============*/

    --ff-1: 'Raleway', sans-serif;
    --ff-2: 'Roboto Condensed', sans-serif;
    --ff-3: 'Source Sans Pro', sans-serif;

    /* ============== font weight ============ */

    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;

    /* ============== font-size =============== */

    --fs-300: 14px;
    --fs-400: 16px;
    --fs-500: 18px;
    --fs-600: 24px;
    --fs-700: 30px;
    --fs-800: 42px;
}