.cart-page {
    padding-top: 80px;

    &__title {
        padding-bottom: 55px;
        
        font-size: var(--fs-750);
        font-weight: var(--fw-700);
        line-height: 1.25;
        
        text-transform: uppercase;
    } 
    &__list-item {
        position: relative;

        padding-top: 24px;
        padding-bottom: 32px;

        border-top: 1px solid var(--clr-neutral-400);
        border-bottom: 1px solid var(--clr-neutral-400);
    }

    //================ bag item in cart styles ==================//
    & .bag-item {
        --gap-v1: 20px;
        --gap-v2: 16px;

        &__brand, &__title {
            font-size: --fs-700;
            line-height: 0.9;
        }
        &__brand {
            margin-bottom: var(--gap-v2);
            font-weight: var(--fw-600);
        }
        &__title {
            margin-bottom: var(--gap-v1);
        }
        &__price {
            margin-bottom: var(--gap-v1);
            font-weight: var(--fw-700);
            font-size: var(--fs-600);
        }
    }
    & .size-picker {
        --button-size-w: 63px; 
        --button-size-h: 45px;

        margin-bottom: var(--gap-v2);

        &__title {
            margin-bottom: 7px;

            text-transform: uppercase;
            line-height: 1;
        }
        & .button-radio {
            width: var(--button-size-w);
            height: var(--button-size-h);
        }
        & .button-radio__text {
            font-weight: var(--fw-400);
        }
    }
    & .color-picker {
        --size-btn-w: 36px;
        --size-btn-h: 36px;

        &__title {
            text-transform: uppercase;
            line-height: 1;
        }
        & .button-radio {
            width: var(--size-btn-w);
            height: var(--size-btn-h);
        }
    }
    & .bag-item__wrapper-inner {
        margin-right: auto;
    }
    & .add-remove-item-bar {
        --btn-size: 45px;
        --sign-size: 15px;

        margin-right: 24px;

        &__total {
            font-size: var(--fs-600);
        }
        & .add-btn {
            width: var(--btn-size);
            height: var(--btn-size);

            & > span {
                font-weight: var(--fw-400);
                font-size: var(--sign-size);
            }
        }
        & .remove-btn {
            width: var(--btn-size);
            height: var(--btn-size);

            & > span {
                font-weight: var(--fw-400);
                font-size: var(--sign-size);
            }
        }
    }
    & .product-image__wrapper {
        width: auto;
    }

    //================ order info block ==========================//
    & .order-info {
        padding-top: 32px;
        margin-bottom: 8px;

        border-spacing: 8px;
    }

    // ============== oreder button styles =====================//
    & .button-text-only {
        width: 276px;
        padding: 12px 0;

        transition: transform var(--duration-fast) var(--timing-func-normal),
                filter var(--duration-fast) var(--timing-func-normal);

        &:active {
            filter: brightness(90%);
            transform: scale(0.97);
        }
    }
}