@use '../../../sass/placeholders/hidden.scss';
@use '../../../sass/placeholders/visible.scss';

.cart-button {
        @extend %hidden;
        
        position: absolute;
        right: 31px;
        bottom: 72px;

        width: 52px;
        height: 52px;
        
        border-radius: 50%;
        background-color: var(--clr-accent-100);
        
    & > svg {
        width: 24px;
        height: 24px;

        fill: var(--clr-light-100);
    }

    .card-in-grid__link:hover &,
    .card-in-grid__link:focus & {
            @extend %visible;
    }
}