@use '../../sass/placeholders/hidden.scss';
@use '../../sass/placeholders/visible.scss';

.currency-switcher {
    --c-switcher-w: 38px;
    --c-switcher-h: 29px;
    --currency-list: 114px;
    --padds: 17px 17px 11px 17px;

    position: relative;

    display: flex;
    align-items: center;
    flex-direction: column;
    
    width: var(--c-switcher-w);
    height: var(--c-switcher-h);

    padding: 0;
    
    &__list {
        @extend %hidden;

        position: absolute;
        top: calc(100% + 7.5px);
        
        width: var(--currency-list);
        background-color: var(--clr-light-100);
        
        box-shadow: var(--shadow-v1);
        pointer-events: none;
        z-index: 4;
    }
    &__item {
        position: relative;

        width: 100%;
        height: 100%;
    }
    &__input {
        @extend %hidden;
        position: absolute;
        inset: 0;

        margin: 0;
        padding: 0;

        z-index: -1;
        &:hover {
                cursor: pointer;
            }
    }
    &__label {
        display: block;

        width: 100%;
        height: 100%;

        padding: var(--padds);

        font-weight: var(--fw-500);
        font-size: var(--fs-500);
        
        cursor: pointer;
        transition: background-color var(--duration-normal) var(--timing-func-normal);

        &:hover, &:focus {
            background-color: var(--clr-neutral-500)
        }
    }
    &__btn {
        --btn-size-w: var(--c-switcher-w);
        --btn-size-h: var(--c-switcher-h);
        --svg-size-w: 6px;
        --svg-size-h: 3px;

        display: flex;
        flex-direction: row-reverse;
        align-items: baseline;
        justify-content: space-between;

        width: var(--btn-size-w);
        height: var(--btn-size-h);

        font-family: inherit;
        font-weight: var(--fw-500);
        font-size: var(--fs-500);
        text-align: center;

        & > span {
            display: flex;
            align-items: center;
            justify-content: center;

            width: calc(var(--btn-size-w) - 6px);
            height: 100%;
        }

        & > svg {
            display: inline-block;

            width: var(--svg-size-w);
            height: var(--svg-size-h);

            margin-top: 7px;

            transform: rotateX(180deg);
            transition: transform var(--duration-normal) var(--timing-func-normal);

            &.rotate-arrow {
                transform: rotateX(0deg);
            }
        }
    }
}

//============== make currency list visible ============//
.show-currencies {
    @extend %visible;
    pointer-events: all;
}