body {
    margin: 0;

    font-family: var(--ff-1);
    font-weight: var(--fw-400);
    font-size: var(--fs-400);
    line-height: 1;

    background-color: var(--clr-light-100);
    color: var(--clr-dark-300);
    overflow-x: hidden;
}