.add-to-cart-btn {
    min-width: 292px;

    padding: 16px 0;
    margin-bottom: 38px;

    text-transform: uppercase;
    line-height: 1.2;

    transition: transform var(--duration-fast) var(--timing-func-normal),
                filter var(--duration-fast) var(--timing-func-normal);

    &:active {
        filter: brightness(90%);
        transform: scale(0.97);
    }
}