@use '../../sass/mixins/grid-tmpl-mixin.scss' as size-picker-grid;

.size-picker {
    --s-grid-margin-quantaty: 8;
    --s-grid-gap: 4px;

    display: inline-block;
    width: 100%;
    
    margin-bottom: 13px;

    &__title {
        display: inline-block;
        margin-bottom: 8px;

        font-family: var(--ff-2);
        font-size: var(--fs-500);
        text-transform: uppercase;
    }
    &__btn-list {
        @include size-picker-grid.parent(var(--s-grid-gap));
        
        display: flex;
        align-items: center;      
        width: 100%;     
    }
    &__btn {
        @include size-picker-grid.child(var(--s-grid-gap), var(--s-grid-margin-quantaty));
    }
}