.button-svg-only {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;

    border: none;
    background-color: transparent;

    cursor: pointer;

    & > svg {
        width: 20px;
        height: 20px;

        fill: var(--clr-dark-200);
    }

    &:active {
        transform: scale(0.9);
    }
}