.prev-next-buttons {
    --size-btn: 24px;
    display: inline-flex;

    min-width: min-content;

    & .button-svg-only {
        width: var(--size-btn);
        height: var(--size-btn);

        padding: 2px;
    
        background-color: var(--clr-dark-400);

        &:active {
            filter: brightness(50);
        }
    }
    
    & .button-svg-only > svg {
        width: 75%;
        height: 75%;

        color: var(--clr-light-100);
    }

    & .button-svg-only:first-child {
        margin-right: 8px;
        transform: rotate(270deg);
    }
    & .button-svg-only:last-child {
        transform: rotate(90deg);
    }
}