.add-remove-item-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__total {
        display: block;

        font-weight: var(--fw-500);
        line-height: 1.6;
        text-align: center;
    }
}