.cart-btn-action {
    --btn-size-w: 38px;
    --btn-size-h: 29px;
    --svg-size-w: 20px;
    --svg-size-h: 20px;
    --circle-size: 20px;
    
    width: var(--btn-size-w);
    height: var(--btn-size-h);

    & > svg {
        width: var(--svg-size-w);
        height: var(--svg-size-h);
    }

    &::after {
        position: absolute;
        right: -4px;
        bottom: 13px;

        display: flex;
        align-items: center;
        justify-content: center;

        content: attr(data-content);
    
        width: var(--circle-size);
        height: var(--circle-size);

        font-family: var(--ff-2);
        font-weight: var(--fw-700);
        font-size: var(--fs-300);

        border-radius: 50%;
        background-color: var(--clr-dark-300);
        color: var(--clr-light-100);
        
    }
    &.hidden::after {
        display: none;
    }
}