$colors: (
    accent: (
        100: #5ECE7B,
    )
    dark: (
        100: #8D8F9A,
        200: #43464E,
        300: #1D1F22,
        400: #000000ba,
    )
    light: (
        100: #ffffff,
        200: #ffffff80,
    )
    neutral: (
        300: #39374838,
        400: #E5E5E5,
        500: #EEEEEE,
    )
);

$clr: blue;