@use '../../sass/mixins/pickers-layout-mixin.scss' as size-picker-grid;

.size-picker {
    --gap-size: 4px;

    display: inline-block;
    width: 100%;

    &__title {
        display: inline-block;
        margin-bottom: 8px;

        font-family: var(--ff-2);
        font-size: var(--fs-500);
        
        text-transform: uppercase;
    }
    &__btn-list {
        @include size-picker-grid.list(var(--gap-size));
        
        display: flex;
        align-items: center;      
        width: 100%;     
    }
    &__btn {
        @include size-picker-grid.items-in-list(var(--gap-size));
    }
}