.header {
    position: sticky;
    top: 0;

    width: 100%;
    height: var(--header-height);
    background-color: var(--clr-light-100);

    z-index: 5;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}