.not-found {
    height: calc(100vh - var(--header-height));
    padding-top: 80px;

    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;

    background: #BBD2C5;
    background: linear-gradient(to right, #292E49, #536976, #BBD2C5);
    color: var(--clr-light-100);

    &__error {
        display: block;
        margin-bottom: 3rem;

        font-size: 10rem;
    }
    &__error-details {
        font-size: .85rem;
        text-transform: initial;
    }
}