.color-btn {
    width: 36px;
    height: 36px;
    border: none;

    &__text {
        outline: 1px solid;
        outline-color: var(--clr-light-100);
        
        transition: outline-color var(--duration-normal) var(--timing-func-normal);
    }
    &__text::after {
        position: absolute;
        inset: 2px;
        content: '';

        background-color: #333;
    }
    &__input:checked + &__text {
        outline-color: var(--clr-accent-100);
        background-color: var(--clr-light-100);
    }
}