.color-btn {
    width: 32px;
    height: 32px;
    border: none;

    background-color: var(--clr-light-100);

    &__text {
        inset: 2px;
    }

    &__input:checked + .color-btn__text {
        outline: 1px solid var(--clr-accent-100);
        background-color: blue;
        clip-path: content-box;
    }
}