.action-bar {
    --gap: 22px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    width: min-content;

    //temp 
    // outline: 1px solid skyblue;

    &__item {
        position: relative;

        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;

        &:not(:last-child) {
            margin-right: var(--gap);
        }
    }
}