@use '../../sass/mixins/grid-tmpl-mixin.scss' as color-picker-grid;

.color-picker {
    --c-btn-size-w: 36px;
    --c-btn-size-h: 36px;
    --c-grid-gap-size: 4px;
    --c-grid-margin-quantaty: 8;

    margin-bottom: 44px;
    
    &__title {
        display: inline-block;
        margin-bottom: 8px;

        font-family: var(--ff-2);
        font-size: var(--fs-500);
        text-transform: uppercase;
    }
    &__btn-list {
        @include color-picker-grid.parent(var(--c-grid-gap-size));

        display: flex;
        align-items: center;
        width: 100%;
    }
    &__item {
        @include color-picker-grid.child(var(--c-grid-gap-size), var(--c-grid-margin-quantaty));
    }

    & .button-radio {
        width: var(--c-btn-size-w);
        height: var(--c-btn-size-h);
        border: none;

        &__text {
            outline: 2px solid;
            outline-color: var(--clr-light-100);
    
            transition: outline-color var(--duration-normal) var(--timing-func-normal);
        }
        &__text::after {
            position: absolute;
            inset: 1px;
            content: '';

            background-color: #333;
        }
        &__input:checked + .button-radio__text {
            outline-color: var(--clr-accent-100);
            background-color: var(--clr-light-100);
        }
    }
}