.color-picker {
    margin-bottom: 44px;
    
    &__title {
        display: inline-block;
        margin-bottom: 8px;

        font-family: var(--ff-2);
        font-size: var(--fs-500);
        text-transform: uppercase;
    }
    &__btn-list {
        display: flex;
        align-items: center;

        width: 100%;
    }
    &__item:not(:last-child) {
        margin-right: 8px;
    }
}