.mini-cart {
    --margin-gap: 32px;
    --btn-size-w: 140px;
    --btn-size-h: 43px;

    &__title {
        line-height: 1.6;
    }
    &__title-number, &__title-items {
        font-weight: var(--fw-500);
    }

    &__total {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin-top: var(--margin-gap);
        margin-bottom: var(--margin-gap);
    
        
        &-title {
            font-family: var(--ff-4);
            font-weight: var(--fw-500);
            line-height: 1.12;
        }

        &-sum {
            line-height: 1.6;
        }
    }

    &__btn-view-bag, &__btn-check-out {
        width: var(--btn-size-w);
        height: var(--btn-size-h);

        text-transform: uppercase;

        border: 1px solid;
        border-color: var(--clr-dark-300);
        
        background-color: var(--clr-light-100);
        color: var(--clr-dark-300);

        transition: background-color var(--duration-normal) var(--timing-func-normal),
                    color var(--duration-normal) var(--timing-func-normal),
                    border-color var(--duration-normal) var(--timing-func-normal),
                    transform var(--duration-normal) var(--timing-func-normal);
        cursor: pointer;
    }
    &__btn-view-bag {
        margin-right: 12px;
    }
    &__btn-view-bag:hover, &__btn-check-out:hover {
        border-color: var(--clr-accent-100);
        background-color: var(--clr-accent-100);
        color: var(--clr-light-100);
    }
    &__btn-view-bag:active, &__btn-check-out:active {
        transform: scale(0.97);
    }

}