.card-in-grid {
    height: 100%;

    &__link {
        position: relative;

        display: block;
        height: 100%;
        padding: 16px;

        color: inherit;
        transition: box-shadow var(--duration-normal) var(--timing-func-normal);

        &.out-of-stock .card-in-grid__title,
        &.out-of-stock .card-in-grid__price {
            color: var(--clr-dark-100);
        }

        &:hover,
        &:focus {
            box-shadow: var(--shadow-v1);
        }
    }

    &__image {
        width: 356px;
        height: 338px;
        
        margin-bottom: 24px;
        object-fit: contain;
    }

    &__title, &__price {
        font-size: var(--fs-500);
        line-height: 1.6;
    }

    &__title {
        font-weight: var(--fw-300);

    }

    &__price {
        font-weight: var(--fw-500);
    }
}

// ============== out of stock styles ===========//
.out-of-stock {
    position: relative;

    &::before {
        position: absolute;
        inset: 0;

        content: 'Out of stock';

        display: flex;
        align-items: center;
        justify-content: center;

        font-size: var(--fs-600);
        text-transform: uppercase;

        background-color: var(--clr-light-200);
        color: var(--clr-dark-100);
    }
}

// ================ hide cart button when out of stock ==================//
.hide-cart-button {
    display: none;
}